<%= link_to image_tag("harness icon2.png", height: "150", width: "150")%>
<h1 class="cover-heading">Harness</h1>
<p class="lead">Use Harness to track your crew's safety certifications and to submit your Toolbox Talks.</p>
<p class="lead"><a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
</p>
